@use '../styles/variables' as v;

.top {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 0px;
    
  &__back {
    font-size: 14px;
    color: #3483FA;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__categories {
    font-size: 14px;
    color: rgba(0,0,0,0.55);
    margin-left: 16px;
  }

  &__pub-id {
    font-size: 14px;
    color: rgba(0,0,0,0.55);
  }
}

.detail {
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
  padding-top: 24px;
  background-color: #fff;
  
  &__body {
    
    display: flex;
    gap: 48px;
  }

  &__gallery {
    display: flex;
    flex-direction: row;         
    gap: 24px;
  }

  &__thumbs {
    display: flex;
    flex-direction: column; 
    gap: 8px;
    padding: 0px 24px;
  }

  &__thumb {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: border 0.2s;
    &--active {
        border: 2px solid #3483FA;
    }
  }

  &__main-image img {
    width: 500px;             
    height: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
  }

  &__info {
    width: 50%;
  }

  &__condition{
    font-size: 14px;
    color: rgba(0,0,0,0.55);
    margin: 28px 0;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    margin: 0px 0;
    color: rgba(0,0,0,0.9);
  }

  &__seller{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0,0,0,0.55);
    margin: 8px 0;
    margin-bottom: 0;
  }

  &__price {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    margin-top: 28px;
    color: rgba(0,0,0,0.9);
  }

  &__installments {
    font-size: 18px;
    font-weight: 300;
    color: v.$green;
    margin: 8px 0;
    margin-top: 0;
  }

  &__shipping {
    font-weight: 600;
    color: v.$green;
    font-size: 18px;
    margin-top: 28px;
  }

  &__color {
    font-size: 18px;
    font-weight: 300;
    color: rgba(0,0,0,0.9);
    margin: 0 0;
    margin-top: 28px;
    &__value {
        font-weight: 400;
    }
  }

   &__description {
    padding: 28px 24px;
    background: #fff;
    font-weight: 300;
    color: rgba(0,0,0,0.8);

    &__title {
        font-size: 22px;
        margin-bottom: 0;
    }

    &__detail {
        margin-top: 16px;
        font-size: 18px;
    }
  }
}
