// styles/_variables.scss
$bp-lg: 1200px;
$bp-md: 992px;
$bp-sm: 768px;
$bp-xs: 480px;

$yellow:   #FFE600;
$blue:     #3483fa;
$green:    #00A650;
$light-gray: #eeeeee;

$text-dark: rgba(0, 0, 0, .9);
$text-soft: rgba(0, 0, 0, .55);

$font-primary: 'Proxima Nova';
